/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/****************/
/* MAIN */
/****************/

/* MAG HEIGT TOEVOEGEN */

#pause-button{
	height: 4em;
	width: 4em;
	background-color: transparent;
	border: transparent;
}

img,
video {
	max-width: 100%;
}

main section:nth-child(1) {
	position: relative;
	height: 90vh;
	overflow: hidden;
}

main section:nth-child(1) video {
	position: absolute;
	top: 4em;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	z-index: -1;
}

main section:nth-child(1) h1 a {
	position: relative;
	z-index: 1;
}

main section:nth-child(1) article {
	background-image:
		linear-gradient(var(--background-main4o) 4%,
			var(--background-main3o) 4% 8%,
			var(--background-main1o) 8% 96%,
			var(--background-main2o) 4%);
	color: var(--general-background);
	position: absolute;
	top: 7em;
	left: 0.8em;
	right: 0.8em;
	bottom: 13em;
}

main section:nth-child(1) h1 {
	opacity: 100%;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1.5em;
	font-family: 'open-sans';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}

/* main section:nth-child(1) h1 span{ 
	position:absolute;
	font-size: 3em;
	margin-top: 0.2em;
	margin-left: -2.2em;
}*/


@keyframes spanAnimation {
	0% {
		display: inline-block;
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

main section:nth-child(1) h1 span {
	position: absolute;
	font-size: 3em;
	margin-top: 0.2em;
	margin-left: -2em;
	opacity: 0;
	animation: spanAnimation 12s infinite;
}

main section:nth-child(1) h1 span:nth-child(1) {
	animation-delay: 0s;
}

main section:nth-child(1) h1 span:nth-child(2) {
	animation-delay: 3s;
}

main section:nth-child(1) h1 span:nth-child(3) {
	animation-delay: 6s;
}

main section:nth-child(1) h1 span:nth-child(4) {
	animation-delay: 9s;
}

main section:nth-child(1) a {
	text-decoration: none;
	display: grid;
	grid-template-columns: 1fr 13em;
	max-width: 100%;
	height: 9em;
	background-color: var(--color-background);
	margin-left: 0.8em;
	margin-right: 0.8em;
	margin-top: 27em;
}

main section:nth-child(1) a img {
	margin: 1em;
	grid-column: 1;
	max-height: 7em;
	max-width: 7em;
	order: -1;
}

main section:nth-child(1) a p {
	font-family: 'open-sans';
	font-weight: 500;
	font-size: 0.9em;
	color: var(--text-colorgray);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
}

main section:nth-child(2) ul {
	padding: 0;
	margin: 0;
}

main section:nth-child(2) ul li {
	list-style: none;
	display: grid;
	position: relative;
}

main section:nth-child(2) ul li a {
	/* display: flex; 
	flex-direction: column;*/

	font-family: 'open-sans';
	color: var(--general-background);
	text-decoration: none;
	list-style: none;

}

main section:nth-child(2) ul li a img {
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}

main section:nth-child(2) ul li a h2 {
	margin-left: 2em;
	margin-top: 2em;
	/* margin-bottom: -1em; */
	opacity: 50%;
	font-size: 0.6em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

main section:nth-child(2) ul li a p {
	margin-left: 1em;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}


main section:nth-child(2) ul li:nth-child(1) {
	width: 100%;
	background-color: var(--background-main4);
}

main section:nth-child(2) ul li:nth-child(2) {
	background-color: var(--background-main2);
}

main section:nth-child(2) ul li:nth-child(3) {
	background-color: var(--background-main3);
}

main section:nth-child(3) {
	background-color: var(--general-background1);
	width: 100%;
	height: fit-content;
	padding: 0;
	margin: 0;
}

main section:nth-child(3) img {
	max-width: 1em;
	margin-left: 5em;
}

main section:nth-child(3) article {
	color: var(--color-text);

	margin-left: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

main section:nth-child(3) ol li {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: -1em;
	margin-left: -1em;
	width: 100%;
}

main section:nth-child(3) ol li h3 {
	text-transform: uppercase;
	font-size: 0.8em;
	min-width: 4em;
	font-weight: 100;
	color: var(--background-main4);
}

main section:nth-child(3) ol li p {
	color: var(--color-text);
	margin-left: 2em;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 700;
	max-width: 60vw;
	margin-right: auto;
}

main section:nth-child(4) ul {
	padding: 0;
	margin: 0;
}

main section:nth-child(4) ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	list-style: none;
	display: flex;
	font-family: 'open-sans';
	color: var(--general-background);
	text-decoration: none;
	min-height: 6em;
	max-height: fit-content;
}

main section:nth-child(4) ul li a img {
	max-width: 2em;
	position: absolute;
	right: 1em;
	width: 2em;
	top: 50%;
	transform: translateY(-50%);
}

main section:nth-child(4) ul li a h2 {
	margin-left: 1em;
	margin-right: 1em;

	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}

main section:nth-child(4) ul li:nth-child(1) {
	background-color: var(--background-main2);
}

main section:nth-child(4) ul li:nth-child(2) {
	background-color: var(--background-main5);
}

main section:nth-child(4) ul li:nth-child(3) {
	background-color: var(--background-main3);
}

main section:nth-child(4) ul li:nth-child(4) {
	background-color: var(--background-main4);
	height: 7em;
}

main section:nth-child(4) ul li:nth-child(5) {
	background-color: var(--background-main6);
	height: 4em;
}

