/****************/
/* HEADER */
/****************/

@media (max-width: 40em) {
    header {
        max-width: 90%;
    }

    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    header img {
        max-width: 80%;
    }
}

@media (prefers-reduced-motion: reduce) {
    body {
        animation: none !important;
        transition: none !important;
    }
}

main section:nth-of-type(2) a:hover,
main section:nth-of-type(4) a:hover,
footer section:nth-of-type(1) h2:hover,
footer section:nth-of-type(1) p:hover {
    margin-left: 1em;
    transition: margin-left 0.3s ease-in-out;
}

footer section:nth-of-type(5) ul li p:hover {
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out;
}


body {
    margin: 0;
    font-family: 'open-sans';

}

header {
    z-index: 10;
    position: fixed;
    top: 0em;
    min-height: 4em;
    padding: 0 1em;
    background-color: var(--header);
    line-height: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-menu,
.nav-menu {
    background-color: transparent;
    padding: .5em;
    display: flex;
    align-items: center;
    gap: .25em;
    appearance: none;
    background-color: var(--button-background);
    border: none;
    border-radius: .25em;
    font: inherit;
    text-align: center;
    color: var(--button-color);
}

header img {
    margin-left: 3em;
    background-color: transparent;
    max-width: 45%;
    height: auto;
}

header button {
    margin-right: 1em;
    position: relative;
    background-color: transparent;
    background-color: var(--general-background);
    padding: .5em;
    display: flex;
    align-items: center;
    gap: .25em;
    appearance: none;
    background-color: var(--button-background);
    border: none;
    border-radius: .25em;
    font: inherit;
    text-align: center;
    color: var(--button-color);
    z-index: 1000;
}

header button span {
    position: absolute;
    width: 1.5em;
    height: .09em;
    background-color: var(--text-colorgray);

    transition: .3s;
}

header button img {
    background-color: transparent;
    background-color: var(--color-text);
    height: 1em;
}

header button span:nth-of-type(1) {
    transform: translateY(-.3em);
}

header button span:nth-of-type(2) {
    transform: translateY(.3em);
}


header button.open span:nth-of-type(1) {
    transform: translateY(0) rotate(45deg);
}

header button.open span:nth-of-type(2) {
    transform: translateY(0) rotate(-45deg);
}

header nav button {
    justify-self: end;
}

header nav {
    padding: 1em;
    display: grid;
    align-content: start;
    gap: 1em;
    background-image: var(--header);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    translate: 100% 0;
    transition: .5s;
    background-color: #001024;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li:nth-child(1) {
    margin-top: 5em;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -.1em;
    line-height: 2em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--general-background);
    margin-bottom: 0.6em;

    border-bottom: .0001em solid rgb(255, 255, 255, 0.3);
    padding-bottom: .6em;
    margin: 0 auto;
}

header nav ul li a:hover {
    color: var(--general-color);
}


header nav.open {
    right: 0;
    translate: 0 0;

}

header nav ul {
    margin: 0;
    padding: 0em;
    list-style: none;
}

header nav a {
    display: flex;
    align-items: center;
    column-gap: .25em;
}

header nav button {
    width: auto;
    height: 2em;
}

header nav a.active {
    font-weight: bold;
}

header .nav-menu {
    width: auto;
    height: 2em;
    order: 1;
    position: absolute;
    top: 1em;
    right: 1em;
}


header button.open span:nth-of-type(1) {
    transform: translateY(0) rotate(45deg);
}

header button.open span:nth-of-type(2) {
    transform: translateY(0) rotate(-45deg);
}

header nav.open {
    right: 0;
    translate: 0 0;
}

/****************/
/* FOOTER */
/****************/


footer section:nth-child(1) {
    display: flex;
    height: 7em;
    max-height: fit-content;
    background-color: var(--background-main2);
    flex-direction: column;
    justify-content: center;
    position: relative;
}

footer section:nth-child(1) a {
    text-decoration: none;
    margin-left: 1em;
}

footer section:nth-child(1) img {
    position: absolute;
    right: 1em;
    width: 2em;
    top: 50%;
    transform: translateY(-50%);
}

footer section:nth-child(1) h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--general-background);
    order: 1;
}

footer section:nth-child(1) p {
    font-size: 0.6em;
    color: var(--general-background);
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
    order: -1;
}

footer section:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: fit-content;
    background-color: var(--background-main6);
    color: var(--general-background);
}

footer section:nth-child(2) ul {
    font-size: .8em;


    list-style: none;
}

footer section:nth-child(2) ul li {
    height: 14em;
}

footer section:nth-child(2) ul li h2 {
    font-size: 0.6em;
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
}

footer section:nth-child(2) ul li h3 {
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
}

footer section:nth-child(2) ul li p {
    width: 60%;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: .1em;

}

footer section:nth-child(2) ul li a {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: .1em;
    color: var(--general-background);
}

footer section:nth-child(2) ul li a p {
    width: 100%;
}

footer section:nth-child(2) ul li a:hover {
    color: var(--text-colorgray);
}

footer section:nth-child(3) {
    padding-left: 1em;
    background-color: var(--background-main2);
    color: var(--general-background);
    display: flex;
    flex-direction: column;
    height: 11em;
    max-height: fit-content;
    position: relative;
}

footer section:nth-child(3) h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--general-background);
    margin-bottom: 0.6em;
}

footer section:nth-child(3) p {
    font-size: 0.6em;
    color: var(--general-background);
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
    order: -1;
    padding-top: 1em;
}

footer section:nth-child(3) form {
    display: flex;
    flex-direction: column;
    position: relative;
}

footer section:nth-child(3) input {
    border: transparent;
    height: 3.5em;
    width: 70%;
    background-color: var(--general-background);
    padding: 0.5em;
    font-family: 'open-sans';
}

footer section:nth-child(3) button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

footer section:nth-child(3) img {
    position: absolute;
    right: 4em;
    width: 2em;
    top: 40%;
    transform: translateY(-50%);
}

footer section:nth-child(4) {
    padding-left: 1em;
    background-color: var(--background-main7);
    color: var(--general-background);
    display: flex;
    flex-direction: column;
    height: 13em;
    max-height: fit-content;
    position: relative;
}

footer section:nth-child(4) h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--general-background);
    margin-bottom: 0.6em;
}

footer section:nth-child(4) p {
    font-size: 0.6em;
    color: var(--general-background);
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
    order: -1;
    padding-top: 1em;
}

footer section:nth-child(4) ul {
    display: flex;
    flex-direction: row;
}

footer section:nth-child(4) ul li {
    list-style: none;
    width: 40%;
}

footer section:nth-child(4) ul li img {
    width: 1.5em;
    transition: 0.3s ease;

}

footer section:nth-child(4) img:hover {
    width: 2em;
}

footer section:nth-child(5) {
    padding-left: 1em;
    background-color: var(--background-main5);
    color: var(--general-background);
    display: flex;
    flex-direction: column;
    max-height: fit-content;
}

footer section:nth-child(5) h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--general-background);
}

footer section:nth-child(5) p {
    font-size: 0.6em;
    color: var(--general-background);
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
    order: -1;
    padding-top: 1em;
}

footer section:nth-child(5) ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2em;
}

footer section:nth-child(5) ul li a {
    text-decoration: none;
}

footer section:nth-child(5) ul li {
    list-style: none;
    width: 40%;
    margin-bottom: -1em;
}

footer section:nth-child(6) {
    padding-left: 1em;
    background-color: var(--background-main3);
    color: var(--general-background);
    display: flex;
    height: 12em;
    flex-direction: column;
    max-height: fit-content;
}

footer section:nth-child(6) h2 {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: var(--general-background);
}

footer section:nth-child(6) p {
    font-size: 0.6em;
    color: var(--general-background);
    opacity: 50%;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-top: 1em;
    font-weight: normal;
}

footer section:nth-child(6) p:nth-child(2) {
    order: -1;
}