/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@media (max-width: 40em) {
	header {
		max-width: 90%;
	}

	.header-content {
		flex-direction: column;
		align-items: flex-start;
	}

	header img {
		max-width: 80%;
	}
}

body {
	margin: 0;
	font-family: 'open-sans';

}

header {
	z-index: 10;
	position: fixed;
	top: 0em;
	min-height: 4em;
	padding: 0 1em;
	background-color: var(--header);
	line-height: 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header-menu,
.nav-menu {
	background-color: transparent;
	padding: .5em;
	display: flex;
	align-items: center;
	gap: .25em;
	appearance: none;
	background-color: var(--button-background);
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--button-color);
}

header img {
	margin-left: 3em;
	background-color: transparent;
	max-width: 45%;
	height: auto;
}

header button {
	margin-right: 1em;
	position: relative;
	background-color: transparent;
	background-color: var(--general-background);
	padding: .5em;
	display: flex;
	align-items: center;
	gap: .25em;
	appearance: none;
	background-color: var(--button-background);
	border: none;
	border-radius: .25em;
	font: inherit;
	text-align: center;
	color: var(--button-color);
}

header button span {
	position: absolute;
	width: 1.5em;
	height: .09em;
	background-color: var(--text-colorgray);

	transition: .3s;
}

header button img {
	background-color: transparent;
	background-color: var(--color-text);
	height: 1em;
}

header button span:nth-of-type(1) {
	transform: translateY(-.3em);
}

header button span:nth-of-type(2) {
	transform: translateY(.3em);
}


header button.open span:nth-of-type(1) {
	transform: translateY(0) rotate(45deg);
}

header button.open span:nth-of-type(2) {
	transform: translateY(0) rotate(-45deg);
}

nav button {
	justify-self: end;
}

nav {
	padding: 1em;
	display: grid;
	align-content: start;
	gap: 1em;
	background-image: var(--header);
	position: fixed;
	top: 0;
	right: 0;
	width: 40vw;
	height: 100vh;
	translate: 100% 0;
	transition: 2s;
	background-color: #001024;
}

nav.open {
	right: 0;
	translate: 0 0;

}

nav ul {
	margin: 0;
	padding: 0em;
	list-style: none;
}

nav a {
	display: flex;
	align-items: center;
	column-gap: .25em;
}

nav button {
	width: auto;
	height: 2em;
}

nav a.active {
	font-weight: bold;
}

.nav-menu {
	width: auto;
	height: 2em;
	order: 1;
	position: absolute;
	top: 1em;
	right: 1em;
}


/****************/
/* MAIN */
/****************/
#pause-button{
	height: 4em;
	width: 4em;
	background-color: transparent;
	border: transparent;
}

img,
video {
	max-width: 100%;
}

main section:nth-child(1) {
	position: relative;
	height: 90vh;
	overflow: hidden;
}

main section:nth-child(1) video {
	position: absolute;
	top: 4em;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	z-index: -1;
}

main section:nth-child(1) h1 a {
	position: relative;
	z-index: 1;
}

main section:nth-child(1) article {
	background-image:
		linear-gradient(var(--background-main4o) 4%,
			var(--background-main3o) 4% 8%,
			var(--background-main1o) 8% 96%,
			var(--background-main2o) 4%);
	color: var(--general-background);
	position: absolute;
	top: 7em;
	left: 0.8em;
	right: 0.8em;
	bottom: 13em;
}

main section:nth-child(1) h1 {
	opacity: 100%;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 1.5em;
	font-family: 'open-sans';
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}

/* main section:nth-child(1) h1 span{ 
	position:absolute;
	font-size: 3em;
	margin-top: 0.2em;
	margin-left: -2.2em;
}*/


@keyframes spanAnimation {
	0% {
		display: inline-block;
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	25% {
		opacity: 0;
	}

	100% {
		opacity: 0;
		display: none;
	}
}

main section:nth-child(1) h1 span {
	position: absolute;
	font-size: 3em;
	margin-top: 0.2em;
	margin-left: -2em;
	opacity: 0;
	animation: spanAnimation 12s infinite;
}

main section:nth-child(1) h1 span:nth-child(1) {
	animation-delay: 0s;
}

main section:nth-child(1) h1 span:nth-child(2) {
	animation-delay: 3s;
}

main section:nth-child(1) h1 span:nth-child(3) {
	animation-delay: 6s;
}

main section:nth-child(1) h1 span:nth-child(4) {
	animation-delay: 9s;
}

main section:nth-child(1) a {
	text-decoration: none;
	display: grid;
	grid-template-columns: 1fr 13em;
	max-width: 100%;
	height: 9em;
	background-color: var(--color-background);
	margin-left: 0.8em;
	margin-right: 0.8em;
	margin-top: 27em;
}

main section:nth-child(1) a img {
	margin: 1em;
	grid-column: 1;
	max-height: 7em;
	max-width: 7em;
	order: -1;
}

main section:nth-child(1) a p {
	font-family: 'open-sans';
	font-weight: 500;
	font-size: 0.9em;
	color: var(--text-colorgray);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
}

main section:nth-child(2) ul {
	padding: 0;
	margin: 0;
}

main section:nth-child(2) ul li {
	list-style: none;
	display: grid;
	position: relative;
}

main section:nth-child(2) ul li a {
	/* display: flex; 
	flex-direction: column;*/

	font-family: 'open-sans';
	color: var(--general-background);
	text-decoration: none;
	list-style: none;

}

main section:nth-child(2) ul li a img {
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}

main section:nth-child(2) ul li a h2 {
	margin-left: 2em;
	margin-top: 2em;
	/* margin-bottom: -1em; */
	opacity: 50%;
	font-size: 0.6em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

main section:nth-child(2) ul li a p {
	margin-left: 1em;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}


main section:nth-child(2) ul li:nth-child(1) {
	width: 100%;
	background-color: var(--background-main4);
}

main section:nth-child(2) ul li:nth-child(2) {
	background-color: var(--background-main2);
}

main section:nth-child(2) ul li:nth-child(3) {
	background-color: var(--background-main3);
}

main section:nth-child(3) {
	background-color: var(--general-background1);
	width: 100%;
	height: fit-content;
	padding: 0;
	margin: 0;
}

main section:nth-child(3) img {
	max-width: 1em;
	margin-left: 5em;
}

main section:nth-child(3) article {
	color: var(--color-text);

	margin-left: 1em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

main section:nth-child(3) ol li {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: -1em;
	margin-left: -1em;
	width: 100%;
}

main section:nth-child(3) ol li h3 {
	text-transform: uppercase;
	font-size: 0.8em;
	min-width: 4em;
	font-weight: 100;
	color: var(--background-main4);
}

main section:nth-child(3) ol li p {
	color: var(--color-text);
	margin-left: 2em;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 700;
	max-width: 60vw;
	margin-right: auto;
}

main section:nth-child(4) ul {
	padding: 0;
	margin: 0;
}

main section:nth-child(4) ul li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	list-style: none;
	display: flex;
	font-family: 'open-sans';
	color: var(--general-background);
	text-decoration: none;
	min-height: 6em;
	max-height: fit-content;
}

main section:nth-child(4) ul li a img {
	max-width: 2em;
	position: absolute;
	right: 1em;
	width: 2em;
	top: 50%;
	transform: translateY(-50%);
}

main section:nth-child(4) ul li a h2 {
	margin-left: 1em;
	margin-right: 1em;

	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
}

main section:nth-child(4) ul li:nth-child(1) {
	background-color: var(--background-main2);
}

main section:nth-child(4) ul li:nth-child(2) {
	background-color: var(--background-main5);
}

main section:nth-child(4) ul li:nth-child(3) {
	background-color: var(--background-main3);
}

main section:nth-child(4) ul li:nth-child(4) {
	background-color: var(--background-main4);
	height: 7em;
}

main section:nth-child(4) ul li:nth-child(5) {
	background-color: var(--background-main6);
	height: 4em;
}


footer section:nth-child(1) {
	display: flex;
	height: 7em;
	max-height: fit-content;
	background-color: var(--background-main2);
	flex-direction: column;
	justify-content: center;
	position: relative;
}

footer section:nth-child(1) a {
	text-decoration: none;
	margin-left: 1em;
}

footer section:nth-child(1) img {
	position: absolute;
	right: 1em;
	width: 2em;
	top: 50%;
	transform: translateY(-50%);
}

footer section:nth-child(1) h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--general-background);
	order: 1;
}

footer section:nth-child(1) p {
	font-size: 0.6em;
	color: var(--general-background);
	opacity: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
	order: -1;
}

footer section:nth-child(2) {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: fit-content;
	background-color: var(--background-main6);
	color: var(--general-background);
}

footer section:nth-child(2) ul {
	font-size: .8em;


	list-style: none;
}

footer section:nth-child(2) ul li {
	height: 14em;
}

footer section:nth-child(2) ul li h2 {
	font-size: 0.6em;
	opacity: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

footer section:nth-child(2) ul li h3 {
	font-size: 1.3em;
	font-weight: 700;
	text-transform: uppercase;
}

footer section:nth-child(2) ul li p {
	width: 60%;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 2px;

}

footer section:nth-child(2) ul li a {
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 2px;
	color: var(--general-background);
}

footer section:nth-child(2) ul li a p {
	width: 100%;
}

footer section:nth-child(2) ul li a:hover {
	color: var(--text-colorgray);
}

footer section:nth-child(3) {
	padding-left: 1em;
	background-color: var(--background-main2);
	color: var(--general-background);
	display: flex;
	flex-direction: column;
	height: 11em;
	max-height: fit-content;
	position: relative;
}

footer section:nth-child(3) h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--general-background);
	margin-bottom: 0.6em;
}

footer section:nth-child(3) p {
	font-size: 0.6em;
	color: var(--general-background);
	opacity: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
	order: -1;
	padding-top: 1em;
}

footer section:nth-child(3) form {
	display: flex;
	flex-direction: column;
	position: relative;
}

footer section:nth-child(3) input {
	border: transparent;
	height: 3.5em;
	width: 70%;
	background-color: var(--general-background);
	padding: 0.5em;
	font-family: 'open-sans';
}

footer section:nth-child(3) button {
	background: none;
	border: none;
	cursor: pointer;
	margin-top: 1em;
  }  
 footer section:nth-child(3) img{

	position: absolute;
	right: 4em;
	width: 2em;
	top: 40%;
	transform: translateY(-50%);
 }
  
footer section:nth-child(4){
	padding-left: 1em;
	background-color: var(--background-main7);
	color: var(--general-background);
	display: flex;
	flex-direction: column;
	height: 13em;
	max-height: fit-content;
	position: relative;
}	

footer section:nth-child(4) h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--general-background);
	margin-bottom: 0.6em;
}
  
footer section:nth-child(4) p {
	font-size: 0.6em;
	color: var(--general-background);
	opacity: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
	order: -1;
	padding-top: 1em;
}

footer section:nth-child(4) ul{
	display: flex;
	flex-direction: row;
}

footer section:nth-child(4) ul li{
	list-style: none;
	width: 40%;
}
footer section:nth-child(4) ul li img{
	width: 1.5em;
}

footer section:nth-child(5){
	padding-left: 1em;
	background-color: var(--background-main5);
	color: var(--general-background);
	display: flex;
	flex-direction: column;
	max-height: fit-content;
}

footer section:nth-child(5) h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--general-background);
}
  
footer section:nth-child(5) p {
	font-size: 0.6em;
	color: var(--general-background);
	opacity: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
	order: -1;
	padding-top: 1em;
}

footer section:nth-child(5) ul{
	display: flex;
	flex-wrap: wrap;
	margin-left: -2em;
}

footer section:nth-child(5) ul li{
	list-style: none;
	width: 40%;
	margin-bottom: -1em;
}

footer section:nth-child(6){
	padding-left: 1em;
	background-color: var(--background-main3);
	color: var(--general-background);
	display: flex;
	height: 12em;
	flex-direction: column;
	max-height: fit-content;
}

footer section:nth-child(6) h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	color: var(--general-background);
}
  
footer section:nth-child(6) p {
	font-size: 0.6em;
	color: var(--general-background);
	opacity: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-top: 1em;
	font-weight: normal;
}

footer section:nth-child(6) p:nth-child(2){
	order: -1;
}
